
    .fixer {margin-bottom:0;}
    
    .classClose {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    cursor: pointer;


}


@media (max-width: 1000px) {

     .classClose {
    width: 100%;
    position: fixed;
    bottom: 30px;
    left: 0px;
    z-index: 10;
    cursor: pointer;


}

}

